.nav{
    float: left;
    height: 90vh;
    padding: 10px 20px 0 0;
    margin: 10px 10px 10px 10px;
    background-color: rgb(250, 191, 81);
    color: whitesmoke;
    border-radius: 1em;
}
li{
    color: whitesmoke;
    cursor: pointer;

}

.outlet{
    position: relative;
    margin: 10px 1em 10px 20em;
    text-align: center;
}